/* Start Variables */
:root {
    /* Fonts */
    --headings-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    /* Primary Colors  */
    --c1-color: hsl(257, 40%, 49%);
    --c2-color:  hsl(300, 69%, 71%);
}
/* End Variables */

/* Start Global Rules */
*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{background-color: var(--c1-color);}
@media screen and (min-width: 1280px) {
    html{
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
    }
}
body{
    font-family: var(--body-font);    
}
.container{width: 1280px;   margin: 0 auto;}
/* End Global Rules */

@media screen and (min-width: 1280px) {
    nav{
        width: 100%;
        position: absolute;  top: 0;
        padding-top: 60px;
    }
}


header .container{    
    display: flex;  align-items: center;  min-height: 100vh;
}
header .container .header-content{
    display: flex; justify-content: center;
}
header .container .header-content .img-box{
    width: 55%;
}
header .container .header-content .img-box img{
    width: 100%;
}

header .container .header-content .info-box{
    margin-top: 20px;  margin-left: 55px;  width: 45%;  padding: 14px;
}
header .container .header-content .info-box h1{
    font-family: var(--headings-font);  font-size: 40px;  color: white;  font-size: 600;
    margin-bottom: 25px;
}
header .container .header-content .info-box p{
    color: white;  margin-bottom: 25px;  font-size: 18px;  font-weight: 400;
}
header .container .header-content .info-box button{
    border: none;  padding: 13px 60px;  border-radius: 30px;
    color: var(--c1-color);  font-size: 17px;  cursor: pointer;  transition: all 0.5s;
    box-shadow: 8px 8px 1.675rem #05050524;
}
header .container .header-content .info-box button:hover{
    color: white;  background-color: var(--c2-color);
}


@media screen and (min-width: 1280px) {
    footer{
        width: 100%;
        position: absolute;  bottom: 0;  z-index: 99;
        padding-bottom: 30px;
    }
}
footer .container{
    display: flex;  justify-content: flex-end;
}
footer .icons-box{
    display: flex;  justify-content: space-between;
}
footer .icons-box .icon-box{
    width: 35px;  height: 35px;  border: 1px solid white;  border-radius: 50%;
    display: flex;  align-items: center;  justify-content: center;  margin-left: 10px;
    cursor: pointer;  color: white;
}
footer .icons-box .icon-box:hover{
    border-color: var(--c2-color);  color: var(--c2-color);
}

/* Media Rules */
@media screen and (max-width: 1280px) {
    html{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }
    .container{width: 590px;}
    nav{
        padding-top: 50px;  margin-bottom: 25px;
    }
    header .container{
        min-height: auto;
    }
    header .container .header-content{
        flex-direction: column;  align-items: center;  justify-content: flex-start;
    }
    header .container .header-content .img-box{
        width: 100%;  margin-bottom: 25px;
    }
    header .container .header-content .info-box{
        width: 100%;  text-align: center;  margin: 0; padding: 0 40px;
    }
    button{
        margin-bottom: 50px; margin-top: 10px;
    }
    footer{
        position: static;
        padding-bottom: 25px; 
    }
    footer .container{
        justify-content: center;
    }
}